@-webkit-keyframes ufoufo {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.8;
  }
  10% {
    opacity: 1;
  }
  14% {
    opacity: 0.7;
  }
  18% {
    opacity: 1;
  }
  22% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0.4;
  }
  31% {
    opacity: 1;
  }
  34% {
    opacity: 0.3;
  }
  37% {
    opacity: 1;
  }
  39% {
    opacity: 0.3;
  }
  41% {
    opacity: 1;
  }
  43% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
  47% {
    opacity: 0.1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  53% {
    opacity: 0.1;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.2;
  }
  59% {
    opacity: 1;
  }
  61% {
    opacity: 0.3;
  }
  63% {
    opacity: 1;
  }
  66% {
    opacity: 0.3;
  }
  69% {
    opacity: 1;
  }
  72% {
    opacity: 0.4;
  }
  75% {
    opacity: 1;
  }
  78% {
    opacity: 0.5;
  }
  82% {
    opacity: 1;
  }
  86% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ufoufo {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.8;
  }
  10% {
    opacity: 1;
  }
  14% {
    opacity: 0.7;
  }
  18% {
    opacity: 1;
  }
  22% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0.4;
  }
  31% {
    opacity: 1;
  }
  34% {
    opacity: 0.3;
  }
  37% {
    opacity: 1;
  }
  39% {
    opacity: 0.3;
  }
  41% {
    opacity: 1;
  }
  43% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
  47% {
    opacity: 0.1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  53% {
    opacity: 0.1;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.2;
  }
  59% {
    opacity: 1;
  }
  61% {
    opacity: 0.3;
  }
  63% {
    opacity: 1;
  }
  66% {
    opacity: 0.3;
  }
  69% {
    opacity: 1;
  }
  72% {
    opacity: 0.4;
  }
  75% {
    opacity: 1;
  }
  78% {
    opacity: 0.5;
  }
  82% {
    opacity: 1;
  }
  86% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
